{% extends "layouts/base.twig" %}

{% block content %}

    <div class="container-fluid">
    {% filter shortcodes %}
        [masterslider id="2"]
        {% endfilter %}
        <div class="row our-story">
            <div class="container">
                {#<div class="col-md-2"></div>#}
                <div class="col-md-6 see-our-story">
                    <h2 class="our-story-title text-uppercase"><b>Our Story</b></h2>
                    <p>See a closer look into more
                        about us and what we do.</p>
                    <a class="btn btn-default btn-lg text-uppercase" href="/our-story" role="button"><b>See Our Story
                            ></b></a>
                </div>
                <br class="hidden-lg hidden-md">
                <div class="col-md-6">
                    <img src="http://theclemsongamedayshow.com/wp-content/uploads/2016/10/FullSizeRender.jpg"
                         class="img-responsive" alt="Our Story Picture">
                </div>
            </div>
        </div>
        {#Welcome DIV#}
        <div class="row welcome-cgds">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p>
                    <span class="text-center text-uppercase orange">Welcome To</span>
                    <span class="text-center"><h2 class="text-uppercase">THE CLEMSON GAMEDAY SHOW</h2></span>
                    <br>
                    <span class="text-center">Tajh Boyd, T.V Williams and special guests bring you the exclusive Clemson football pregame show every gameday 30 minutes before kickoff.</span>
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
        {#Welcome#}
        <div class="row welcome-cgds2">
            {#Row 2#}
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="col-md-4">
                    <div class="imageAndText next-show-text">
                        <img style="opacity: .7" src="http://theclemsongamedayshow.com/wp-content/uploads/2016/10/provider_tv_Vector_Clipart.png" class="align-center img-responsive" />
                        <div class="col">
                            <div class="col-sm-4">
                                <p class="orange">Next</p>
                                <h2>SHOW</h2>
                            </div>
                        </div>
                    </div>
                </div>
                {#<span class="text-uppercase "> next show</span>#}
                <span class="next-show-event"><p> Kent State!{% include 'page-next-event-text.twig' %}</p></span>
            </div>
            <div class="col-md-4"></div>
        </div>

        {#Episodes#}

        <div class="row">
            <div class="container">
            <div class="col-md-12">
            <h2 class="white-text text-uppercase">Episodes</h2>
                <p class="white-text">Please select an episode below to view previews of our full episodes:</p>
                {#Thumbnails for episodes go here#}
                {% filter shortcodes %}
                    [masterslider id="3"]
                    {% endfilter %}
                <br>
                <a class="btn btn-default btn-lg text-uppercase center" href="/episodes" role="button"><b>View Full
                        Episodes ></b></a>
                <br>
            </div>
            </div>
        </div>
        <hr>
        {#FB Page#}
        <div class="row our-story">
            <div class="container">
                {#<div class="col-md-2"></div>#}
                <div class="col-md-6 see-our-story">
                    <h2 class="our-story-title text-uppercase"><b>DeShaun Watson 4 Heisman</b></h2>
                    <p>Explore our Facebook page for weekly updates and prime Clemson news.</p>
                    <a class="btn btn-default btn-lg text-uppercase" href="https://www.facebook.com/ClemsonGameDayShow/"
                       role="button"><b>Visit Our Facebook page
                            ></b></a>
                </div>
                <br class="hidden-lg hidden-md">
                <div class="col-md-6">
                    <img src="http://theclemsongamedayshow.com/wp-content/uploads/2017/09/computer.png"
                         class="img-responsive" alt="DeShaun Watson 4 Heisman Picture">
                </div>
            </div>
        </div>

        {#White Background?#}

        {#Sponsors#}
        <div class="row">
            <div class="container">
                <div class="col-md-12">
                    <h2 class="white-text text-uppercase line-word-clear"><span>Sponsors</span></h2>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive sponsor-img-width"
                         src="http://theclemsongamedayshow.com/wp-content/uploads/2017/09/Sponsors2.png"
                         alt="TNT Sports">
                </div>
                <div class="col-md-6">
                    <img class="img-responsive sponsor-img-width"
                         src="http://theclemsongamedayshow.com/wp-content/uploads/2017/09/Sponsor1.png"
                         alt="The Village Baker">
                </div>
                    <br>
                <a style="float: right"> <img style="width: 10em"
                                              src="http://theclemsongamedayshow.com/wp-content/uploads/2017/09/AdvertiseWithUs.png"
                                              alt=""></a>
                    <br>
                </div>
            </div>
        <div class="container">
            <h2 class="line-word-clear"><span></span></h2>
        </div>
        </div>
        <br>

        {#3 Colored Divs#}
    {#<div class="col-md-4 grey-gameday"></div>#}
    {#<div class="col-md-4 yellow-gameday"></div>#}
    {#<div class="col-md-4 orange-gameday"></div>#}


    </div>
    {#{% for post in posts %}#}
        {#{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}#}
    {#{% endfor %}#}

{% endblock %}