{% extends "layouts/base.twig" %}


{% block content %}
    <div style="padding-top: 5em" class="container">
        <div>
            <span><h1 class="white-text"><img
                            src="http://theclemsongamedayshow.com/wp-content/uploads/2017/09/Articles-07.png"
                            alt="Articles">News</h1></span>
        </div>
        <br>
        {% filter shortcodes %}
            [pt_view id="df2d491q6l"]
        {% endfilter %}
    </div>
{% endblock %}