{% extends "layouts/base.twig" %}

{% block content %}

    <div class="container head-space">
        <div class="content-wrapper container">
            <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
                <section class="article-content">
                    <span><h1 class="white-text"><img
                                    src="http://theclemsongamedayshow.com/wp-content/uploads/2017/09/OurStory-07.png"
                                    alt="Our Story">Our Story</h1></span>

                    <div class="article-body Aligner">
                        <span class="Aligner-item head-space">{{ post.content }}</span>
                    </div>
                </section>

            </article>
        </div> <!-- /content-wrapper -->
    </div>
{% endblock %}