{% extends "layouts/base.twig" %}


{% block content %}
    <div style="padding-top: 10em" class="container">
        {% filter shortcodes %}
            [pt_view id="df2d491q6l"]
        {% endfilter %}
    </div>
{% endblock %}