{% extends "layouts/base.twig" %}


{% block content %}
    <div style="padding-top: 5em" class="container">
        <div>
            <span><h1 class="white-text"><img
                            src="http://theclemsongamedayshow.com/wp-content/uploads/2017/09/Sponsors-07.png"
                            alt="Sponsors">News</h1></span>
        </div>
        <br>
        <div class="row">
            <div class="container">
                <div class="col-md-12">
                    <h2 class="white-text text-uppercase line-word-clear"><span>Sponsors</span></h2>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive sponsor-img-width"
                         src="http://theclemsongamedayshow.com/wp-content/uploads/2017/09/Sponsors2.png"
                         alt="TNT Sports">
                </div>
                <div class="col-md-6">
                    <img class="img-responsive sponsor-img-width"
                         src="http://theclemsongamedayshow.com/wp-content/uploads/2017/09/Sponsor1.png"
                         alt="The Village Baker">
                </div>
                <br>
                <a style="float: right"> <img style="width: 10em"
                                              src="http://theclemsongamedayshow.com/wp-content/uploads/2017/09/AdvertiseWithUs.png"
                                              alt=""></a>
                <br>
            </div>
        </div>
    </div>
{% endblock %}