{% extends "layouts/base.twig" %}

{% block content %}

    <div class="container head-space">
        <span><h1 class="white-text"><img
                        src="http://theclemsongamedayshow.com/wp-content/uploads/2017/09/Episodes-07.png"
                        alt="Episodes">Episodes</h1></span>

        {% filter shortcodes %}
            [masterslider id="4"]
        {% endfilter %}
    </div>
{% endblock %}